/** Articles & Projects */
.content{
    &__articles{
        &--container{
            box-sizing: border-box;
            height: 100%;
            @include respond-to(mm) {
                display: flex;
                flex: 0 1 auto;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
        &--post{
            width: 100%;
            box-sizing: border-box;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            transition: all 0.3s ease;
            margin-bottom: 0.5rem;
            &:hover{
                background-color: $orange;
                a h3{
                    color: $white;
                }
            }
            &:visited{
                background-color: grey;
            }
            @include respond-to(mm) {
                transition: all 1.2s ease;
                margin: 0.3rem;
                position: relative;
                border: none;
                width: 48%;
                padding-right: 0;
            }
            @include respond-to(lg) {
                width: 30%;
            }
            @include respond-to(xl) {
                width: ($width*3.85);
            }
            &--title{
                width: 100%;
                text-align: left;
                @include respond-to(mm) {
                    min-height: 5rem;
                }
                & h3{
                    vertical-align: middle;
                    padding: 0.5rem;
                    font-size: 90%;
                    text-align: left;
                    color: $orange;
                    letter-spacing: 1.1px;
                    line-height: 1.1rem;
                    &::first-letter {
                        font-size: 120%;
                        font-weight: 700;
                    }
                    @include respond-to(xs) {
                        padding-top: 1rem;
                    }
                    @include respond-to(sm) {
                        font-size: 1rem;
                    }
                    @include respond-to(lg) {
                        height: 2.75rem;
                    }
                    & a{
                        color: $black;
                    }
                }
            }
            &--picture{
                width: 100%;
                & img{
                    width: 100%;
                    vertical-align: middle;
                    color: $orange;
                }
            }
        }
    }
}