/** Footer */
$item: 3;
.footer{
  background-color: $black;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
  color: grey;
  letter-spacing: 1.1px;
  font-size: 0.85rem;
  line-height: 1.2rem;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  @include respond-to(mm) {
  }
  & a{
    color: grey;
    &:hover{
      color: $orange;
    }
  }
  & h3{
    font-weight: 400;
    font-size: 1rem;
    padding: 1rem 0;
  }
  &__contact{
    width: 100%;
    box-sizing: border-box;
    padding-right: 1rem;
    @include respond-to(lg) {
        border-left: 2px solid $orange;
        padding-left: 2rem;
        width: 45%;
    }
    & a button{
      margin-top: 1.5rem;
      padding: 0.35rem 1rem;
      color: $white;
      background-color: $orange;
      border-radius: 5px;
      &:hover{
        background-color: $purple;
      }
    }
    &--tech {
      margin: 0.75rem 0;
      & li{
        display: inline-block;
        margin-right: 0.4rem;
        font-size: 1.25rem;
      }
    }
  }
  &__social{
    &--redes {
      & li{
        display: inline-block;
        font-size: 1.35rem;
        margin-right: 0.75rem;
        & i{
          width: 2.25rem;
          height: 2.25rem;
          line-height: 2.25rem;
          text-align: center;
          border-radius: 50%;
          color: $white;
          background-color: grey;
          &.fa-facebook:hover{
            background-color: $facebook;
          }
          &.fa-twitter:hover{
            background-color: $twitter;
          }
          &.fa-linkedin:hover{
            background-color: $linkedin;
          }
          &.fa-google-plus:hover{
            background-color: $google;
          }
          &.fa-github-alt:hover{
            background-color: $github;
          }
          &.fa-envelope-o:hover{
            background-color: $purple;
          }
        }
      }
    }
  }
  &__content{
    width: 100%;
    box-sizing: border-box;
    padding-right: 1rem;
    @include respond-to(md) {
        width: 40%;
    }
    @include respond-to(lg) {
        width: 20%;
    }
  }
  &__articles{
    box-sizing: border-box;
    padding-right: 1rem;
    & ul li{
      width: 95%;
    }
    @include respond-to(md) {
        width: 60%;
    }
    @include respond-to(lg) {
        width: 35%;
    }
  }
}