/** Footer */
$item: 3;
.footer{
  background-color: $black;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  color: grey;
  letter-spacing: 1.1px;
  font-size: 0.85rem;
  line-height: 1.2rem;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  @include respond-to(mm) {
  }
  & a{
    color: grey;
    &:hover{
      color: $orange;
    }
  }
  & h3{
    color: $white;
    font-weight: 400;
    font-size: 1rem;
    padding: 1rem 0;
  }
  &__contact{
    width: 100%;
    @include respond-to(lg) {
        width: 25%;
    }
    & p{
      width: 80%;
      margin-bottom: 1rem;
    }
    & a button{
      margin-top: 0.5rem;
      padding: 0.25rem 1rem;
      color: $white;
      background-color: $orange;
      border-radius: 5px;
      &:hover{
        background-color: $purple;
      }
    }
  }
  &__content{
    width: 100%;
    @include respond-to(sm) {
        width: 20%;
    }
    @include respond-to(lg) {
        width: 10%;
    }
  }
  &__articles{
    & ul li{
      width: 95%;
    }
    @include respond-to(sm) {
        width: 80%;
    }
    @include respond-to(lg) {
        width: 35%;
    }
  }
  &__social{
    width: 100%;
    box-sizing: border-box;
    @include respond-to(lg) {
        border-left: 2px solid $orange;
        padding-left: 2rem;
        width: 30%;
    }
    & ul{
      margin-top: 1rem;
    }
    & ul li{
      display: inline-block;
      font-size: 1.2rem;
      margin-right: 0.5rem;
      & i{
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border-radius: 50%;
        color: $white;
        &.fa-facebook{
          background-color: $facebook;
        }
        &.fa-twitter{
          background-color: $twitter;
        }
        &.fa-linkedin{
          background-color: $linkedin;
        }
        &.fa-google-plus{
          background-color: $google;
        }
        &.fa-github-alt{
          background-color: $github;
        }
        &.fa-envelope-o{
          background-color: $purple;
        }
        &:hover{
          background-color: $orange;
        }
      }
    }
  }
}