.form{
  width: 70%;
  margin: 1rem auto;
  &__content{
    & p{
      color: grey;
      letter-spacing: 1.2px;
      font-size: 1.1rem;
      line-height: 1.2rem;
      width: 80%;
      margin: 0 auto 1rem auto;
    }
  }
  &__email {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    & input[type="email"] {
        border-radius: 6px;
        padding: 0 .5rem;
        width: 75%;
        line-height: 40px;
        height: 100%;
        margin: .25rem;
        @include respond-to(mm) {
          font-size: 22px;
        }
        @include respond-to(md) {
          width: 50%;
        }
    }
    & button[type="submit"] {
        height: 100%;
        line-height: 40px;
        width: 200px;
        border-radius: 5px;
        margin: .25rem .25rem .5rem .25rem;
        color: $white;
        background-color: $orange;
        outline: none;
        border: none;
        @include respond-to(sm) {
          margin-bottom: 0;
        }
        @include respond-to(mm) {
          font-size: 22px;
        }
        &:hover{
          background-color: $purple;
        }
    }
  }
}