/** Responsive & Mobile */
.main{
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto 1rem auto;
  text-align: center;
  background-color: $background;
  @include respond-to(sm) {
    width: 90%;
    padding: 1em;
    margin-top: 1rem;
  }
}

.content{
  &__container{
    @include respond-to(md) {
      display: flex;
      flex: 0 1 auto;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__responsive{
    background-color: white;
    &:nth-child(1){
      margin-bottom: 1rem;
      @include respond-to(md) {
        margin-bottom: 0;
        margin-right: 2%;
      }
    }
    &:nth-child(2){
      @include respond-to(md) {
        margin-left: 2%;
      }
    }
    @include respond-to(md) {
      width: 45%;
    }
    @include respond-to(lg) {
      width: 394px;
    }
    &--form{
      padding-top: 1rem;
      & em{
        font-weight: 700;
      }
      & p{
        color: grey;
        width: 75%;
        margin: 0 auto;
      }
      & a button[type="button"] {
        height: 100%;
        line-height: 40px;
        width: 300px;
        border-radius: 5px;
        margin: 1.5rem .25rem 0.5rem .25rem;
        padding: 1rem;
        color: $white;
        background-color: $orange;
        outline: none;
        border: none;
        font-size: 22px;
        @include respond-to(mm) {
          font-size: 2rem;
        }
        &:hover{
          background-color: $purple;
          cursor: pointer;
        }
    }
    }
    &--title{
      padding: 1em 0;
      color: grey;
    }
    &--responsive{
      padding: 1em;
      padding-top: 2rem;
      transition: all 1.2s ease;
      @include respond-to(md) {
        transition: all 1.2s ease;
        box-sizing: border-box;
        align-items: center;
      }
      &--text{
        color: grey;
        letter-spacing: 1.2px;
        font-size: 1.1rem;
        line-height: 1.2rem;
        width: 80%;
        margin: 0 auto;
        & p span{
          font-weight: 700;
        }
        &::first-letter {
          font-size: 150%;
        }
      }
      &--text{
        padding-top: 1em;
        @include respond-to(md) {
          transition: all 1.2s ease;
          padding: 1em;
        }
      }
    }
  }
}
.fa.fa-desktop,
.icon-mobile-device {
  font-size: 10rem;
}