.content__legal {
    text-align: justify;
    padding-bottom: 2rem;
    letter-spacing: 1.1px;
    line-height: 1.2rem;
    @include respond-to(md) {
        padding-top: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    @include respond-to(lg) {
        width: 80%;
    }

    & h1,
    & h2,
    & h3,
    & span {
        color: $black;
        font-weight: 700;
    }

    & h1,
    & h2 {
        line-height: 2.5rem;
        text-align: left;
        @include respond-to(lg) {
            text-align: justify;
        }
    }
    & h1{
        margin-bottom: 1rem;
    }
    & h3{
        color: $twitter;
    }
    & ul li{
        text-align: left;
        @include respond-to(lg) {
            text-align: justify;
        }
    }

    & a {
        color: $orange;
        font-weight: bold;
        &.informacion__boton{
            @extend .informacion__boton;
            color: white;
            font-size: 1.5rem;
            width: 100%;
            padding: 1rem 0;
        }
    }

    & p {
        margin: 1rem 0;
        text-align: left;
        @include respond-to(lg) {
            text-align: justify;
        }
    }
}