@import "./partials/pages/404";
@import "./partials/pages/legal";

.pages {
    &__title {
        margin-top: 0;
        line-height: 2rem;
    }

    &__header {
        padding: 2em 0;
    }
}
/* Contactame */
iframe #document html body.gorgias-loaded .poweredWrapper span.poweredBy{
  display: none !important;
}