.jp-relatedposts-post{
  h4.jp-relatedposts-post-title{
    & a {
      color: $orange;
      font-size: 1.5rem !important;
      &:hover{
        color: grey;
      }
    }
  }
}
.jp-relatedposts-items p{
  font-size: 1rem !important;
}