.post-thumbnail{
  img{
    width: 100%;
  }
}
header.entry-header{
  & h1{
    text-align: center;
    font-size: 1.8rem;
    font-family: $font-awesome;
    font-weight: 700;
    @media screen and (min-width: $screen-md) {
      font-size: 2rem;
      text-align: center;
      font-weight: 700;
    }
  }
}
.entry-content {
  font-family: $font-awesome;
  & h1{
  font-size: 1.5rem;
    @media screen and (min-width: $screen-md) {
      font-size: 1.6rem;
    }
  }
  & h2{
    font-size: 1.3em;
    @media screen and (min-width: $screen-md) {
      font-size: 1.4em;
    }
  }
  & h3{
    font-size: 1.1em;
    @media screen and (min-width: $screen-md) {
      font-size: 1.2em;
    }
  }
  & p{
    font-family: $font-awesome;
    text-align: justify;
    margin-top: 1rem;
    & a{
      color: $black;
      font-weight: bolder;
      text-decoration: none;
    }
  }
}
.author{
    &-info{
    font-family: $font-awesome;
    & h2{
      font-size: 1.1rem;
      font-family: $font-awesome;
    }
  }
  &-description{
    & h3{
      font-size: 1rem;
      font-weight: bold;
      font-family: $font-awesome;
    }
    & a.author-link{
      color: $black;
    }
    & a{
      color: $black;
    }
    & p.author-bio{
      font-size: 1rem;
      & a.author-link{
        color: $black;
      }
    }
  }
}
footer.entry-footer{
  & span{
    font-size: 1rem;
    &.posted-on::before,
    &.byline::before,
    &.cat-links::before,
    &.edit-link::before,
    &.tags-links::before{
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }
}
.comment-respond{
  & h3{
    font-size: 2rem;
    font-weight: bold;
    font-family: $font-awesome;
  }
  & form p label{
    font-size: 1.5rem;
  }
}
nav.post-navigation{
  & .nav-links{
  }
  font-family: $font-awesome;
  .nav-previous a span,
  .nav-next a span{
    font-family: $font-awesome;
  }
}
.comments-area{
  p.must-log-in a{
    color: $black;
  }
}

