/** Customizando Estilos */
body{
  font-size: 16px;
  font-family: $font-awesome;
}
a{
  text-decoration: none;
}
h1{
  font-size: 1.8rem;
  @media screen and (min-width: $screen-md) {
    font-size: 2rem;
  }
}
h2{
  font-size: 1.4em;
  @media screen and (min-width: $screen-md) {
    font-size: 1.5em;
  }
}
h3{
  font-size: 1.2em;
  @media screen and (min-width: $screen-md) {
    font-size: 1.3em;
  }
}
.title{
  color: grey;
  padding: 1rem 0;
  @include respond-to(sm) {
      padding-top: 0;
  }
}
.hide{
  display: none;
}
