.home {
  
  &-title {
    color: $primary-color;
  }

  &-section {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    &-anchor {
      display: block;
      position: relative;
      top: -($navbar-height);
    }

    &-title {
      color: $primary-color;
      padding: 0;
    }
  }
}
